<!DOCTYPE html>
<html lang=ja>
<head>
<meta charset="UTF-8">
</head>
<body>
    <table>
        <% for( let result of content ) { %>
        <tr>
            <td><%= result.id %></td>
            <td><%= result['name'] %></td>
            <td><%= result['class_id'] %></td>
        </tr>
        <% } %>
    </table>
    <form action="/" method="get">
        並び順：<select name="class_type">
            <option value="1">特殊</option>
            <option value="2">騎馬</option>
            <option value="3">飛行</option>
            <option value="4">歩兵</option>
            <option value="5">魔法</option>
        </select>
        表示数：<input type="text" name="number" size="10">
        <input type="submit" value="並び替える">
    </form>
</body>
</html>
